<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JavaEEProject</display-name>
  <welcome-file-list>
    <welcome-file>index2.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>First_Serlvet</display-name>
    <servlet-name>First_Serlvet</servlet-name>
    <servlet-class>First_Serlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First_Serlvet</servlet-name>
    <url-pattern>/First_Serlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Second_servlet</display-name>
    <servlet-name>Second_servlet</servlet-name>
    <servlet-class>Second_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second_servlet</servlet-name>
    <url-pattern>/Second_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdServlet</display-name>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet1</display-name>
    <servlet-name>RegisterServlet1</servlet-name>
    <servlet-class>RegisterServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet1</servlet-name>
    <url-pattern>/RegisterServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet2</display-name>
    <servlet-name>RegisterServlet2</servlet-name>
    <servlet-class>RegisterServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet2</servlet-name>
    <url-pattern>/RegisterServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLServlet1</display-name>
    <servlet-name>URLServlet1</servlet-name>
    <servlet-class>url.URLServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLServlet1</servlet-name>
    <url-pattern>/URLServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLServlet2</display-name>
    <servlet-name>URLServlet2</servlet-name>
    <servlet-class>url.URLServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLServlet2</servlet-name>
    <url-pattern>/URLServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet1</display-name>
    <servlet-name>HiddenServlet1</servlet-name>
    <servlet-class>hidden.HiddenServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet1</servlet-name>
    <url-pattern>/HiddenServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet2</display-name>
    <servlet-name>HiddenServlet2</servlet-name>
    <servlet-class>hidden.HiddenServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet2</servlet-name>
    <url-pattern>/HiddenServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet3</display-name>
    <servlet-name>HiddenServlet3</servlet-name>
    <servlet-class>hidden.HiddenServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet3</servlet-name>
    <url-pattern>/HiddenServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>cookie.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepeatVisitor</display-name>
    <servlet-name>RepeatVisitor</servlet-name>
    <servlet-class>cookie.RepeatVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepeatVisitor</servlet-name>
    <url-pattern>/RepeatVisitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientAccessCount</display-name>
    <servlet-name>ClientAccessCount</servlet-name>
    <servlet-class>cookie.ClientAccessCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAccessCount</servlet-name>
    <url-pattern>/ClientAccessCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationform</display-name>
    <servlet-name>registrationform</servlet-name>
    <servlet-class>registrationform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationform</servlet-name>
    <url-pattern>/registrationform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>session.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet2</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>session.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/SessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationServlet</display-name>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>MultiplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/MultiplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>staffregistration</display-name>
    <servlet-name>staffregistration</servlet-name>
    <servlet-class>staffregistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffregistration</servlet-name>
    <url-pattern>/staffregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>staffRegistration</display-name>
    <servlet-name>staffRegistration</servlet-name>
    <servlet-class>staffRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffRegistration</servlet-name>
    <url-pattern>/staffRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegistration</display-name>
    <servlet-name>StudentRegistration</servlet-name>
    <servlet-class>StudentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistration</servlet-name>
    <url-pattern>/StudentRegistration</url-pattern>
  </servlet-mapping>
</web-app>