<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+20&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<style>
.navbar-purple {
    background-color: purple;
}

.navbar-purple .nav-link {
    color: white !important;
}
</style>


</head>
<body>
<div class="container  navbar-purple">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <nav class="navbar">
     <h1 class="px-5 text-white">Book Link</h1>
      <ul class="nav nav-pills purple-nav-link">
        <li class="nav-item"><a href="/" class="nav-link " aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/categories" class="nav-link">Category</a></li>
        <li class="nav-item"><a href="/view" class="nav-link">Item</a></li>
      </ul>
     </nav>
    </header>
  </div>
</body>
</html>